#! /usr/bin/env python3
#coding: utf-8
# cfg文件也是一个python文件
# 本质也是一个节点
from dynamic_reconfigure import parameter_generator_catkin
from dynamic_reconfigure.parameter_generator_catkin import *
import rospy



if __name__ == "__main__":
    # 首先创建一个参数生成器
    gen = ParameterGenerator()
    # gen.add(name, paramtype, level, description, default=None, min=None, max=None, edit_method="") 
    # Int类型
    gen.add("int_param", int_t, 0, "整数参数", 10, 1, 100)
    # Bool类型
    gen.add("bool_param", bool_t, 0,"A Bool Parameter", True)
    # Double类型
    gen.add("Double_param", double_t, 0, "A Double Parameter", 50, 0, 100)
    # enum
    size_enum = gen.enum([gen.const("low", int_t, 0, "low : 0"),gen.const("medium", int_t, 1, "midum: 1"),gen.const("hight", int_t, 2, "hight: 2")], "Selection List")
    gen.add("SIZE", int_t, 0, "Selection List", 1, 0, 3, edit_method = size_enum)
    exit(gen.generate("rospy_cfg", "dr_client", "parameter_server_"))