<?xml version = "1.0"?>
<robot name="Box">
    <link name = "" >
        <visual>
            <geometry>
                <box size = "0.3 0.3 0.3" />
            </geometry>
            <origin xyz = "0 0 0" rpy="0.0 0.0 0.0" />
            <material name="red">
                <color rgba="1 0.0 0.0 0.3"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <box size="0.3 0.3 0.3"/>
            </geometry>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        </collision>
        <inertial>
            <origin xyz = "0 0 0" />
            <mass value="4"/>
            <inertia ixx="1" ixy="0.0" ixz="0.0" iyy="1" iyz="0.0" izz="1"/>
        </inertial>
    </link>
    <!--gazebo有自己的颜色设置-->
</robot>