<robot name = 'my_robot'>
    <!--连杆-->
    <link name = 'base_link'>
        <visual>
            <geometry>
                <cylinder radius = '0.3' length = '0.5'/>
                <origin xyz = '0 0 0' rpy = '0 0 0' />
                <material name = 'my_material'>
                    <color rgba = '255 0 0 50' />
                </material>
            </geometry>
        </visual>
    </link>


</robot>