<?xml version = "1.0"?>
<!--用于创建摄像头-->
<robot name = "camera" xmlns:xacro = "http://wiki.ros.org/xacro">
    <xacro:property name = "x" value = "0.02" />
    <xacro:property name = "y" value = "0.05" />
    <xacro:property name = "z" value = "0.05" />
    <xacro:property name = "joint_x" value = "0.08" />
    <xacro:property name = "joint_y" value = "0" />
    <xacro:property name = "joint_z" value = "${0.055/2 + 0.05/2 }" />

    <link name = "camera">
        <visual>
            <geometry>
                <box size = "${x} ${y} ${z}" />
            </geometry>
            <origin xyz  = "0 0 0" rpy = "0 0 0" />
            <material name = "camerColor">
                <color rgba = "0 0 0 0.5" />
            </material>
        </visual>
    </link>

    <joint name = "camera2base" type = "fixed">
        <parent link = "base" />
        <child link = "camera" />
        <origin xyz = "${joint_x} ${joint_y} ${joint_z}" rpy = "0 0 0" />
    </joint>

</robot>