<launch>
	<node pkg = 'turtlesim' type = 'turtlesim_node' name = 'turtle1'/>
	<node pkg = 'turtlesim' tyep = 'turtle_teleop_key' name = 'key' />
	<node pkg = 'rospy_tf' type = 'turtle_tf_broadcaster.py' name = 'tf_turtle1'/>
	<node pkg = 'rospy_tf' type = 'listener.py' name = 'tf_turtle2'/>
</launch>
