<launch>
    <param name = "robot_description" textfile = "$(find marm_description)/urdf/arm.urdf"  />
    <node pkg = "joint_state_publisher" type = "joint_state_publisher" name = "joint_state_publisher" />
    <node pkg = "robot_state_publisher" type = "robot_state_publisher" name = "robot_state_publisher" />
    <node pkg = "rviz" type = "rviz" name = "rviz" required  = "true"
    args = "-d $(find marm_description)/robot.rviz" />
    <node pkg = "joint_state_publisher_gui" type = "joint_state_publisher_gui" name = "joint_state_publisher_gui" />
</launch>